.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans";
    main {
        display: flex;
        justify-content: center;
        width: 900px;
        margin: 3rem auto;
        flex-grow: 1;
        padding: 1rem;
        
        .jobapp {
            font-family: "Texturina";
        }

        .skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .container {
            background-color: bisque;
        }

        .skillContainers {
            width:100%;
            border: solid;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .skillHeading {
            font-weight: bold;
        }

        .awesome {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 2rem;
            color: gray !important;
        }
    }
}