/*
The site is built mobile-first for edits to screens bigger than
992px scroll to past main css.
*/
.Layout {

    $primary: #5085A5;
    background-color: #f7f9fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans";
    position: relative;
    
}

address {
    display: flex;
    justify-content: start;
    align-items: center;
}

a {
    text-decoration: none;
}

main {
    display: flex !important;
    justify-content: center;
    width: 90%;
    margin: 3rem auto;
    flex-grow: 1;
    padding: 1rem;
}

.skillContainers {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skillSet {
    width:100%;
    padding: 10px;
    border: 1px solid;
    border-color: #5085A5;
    margin: 10px 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #5085A5;
    box-shadow: 0 0 10px #5085A5;
}


.skillIcons {
    height: 23.63px;
    margin: 0;
}

.skillHeading {
    font-weight: bold;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact {
    font-family: "Courgette", cursive;
    font-size: 1.75rem;
    margin-left: 15px;
}           
    
.contactForm {
    display: flex;
    flex-direction: column;
}
        
.lineBreak {
    display: inline;
    color: #5085A5;
}


.btn-primary {
    background-color: #5085A5 !important;
}
.project1 {
    padding: 0 !important;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 50%;
    background-position: right !important;
    background-image: url('../../../static/TC.png');
}
.project2 {
    padding: 0 !important;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 50%;
    background-position: left !important;
    background-image: url('../../../static/appTracker.png');
}
.project3 {
    padding: 0 !important;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 50%;
    background-position: right !important;
    background-image: url('../../../static/statsyo.png');
}
.project4 {
    padding: 0 !important;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 50%;
    background-position: left !important;
    background-image: url('../../../static/war.png');
}

.projectCard {
    width: 50%
}

.projectCol {
    color: red;
}







.projects {
    font-family: "Texturina",serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (min-width: 600px) {

    .projectCard {
        min-height: 280px;
        padding: 20px;
    }

}

@media screen and (min-width: 992px) {
    main {
        width: 65%;
    }

    .skillContainers {
        width:100%;
        display: flex;
        flex-direction: row;

    }

    .skillContainers {
        width:100%;
        display: flex;
        flex-direction: row;

    }

    .contactContainer {
        flex-direction: row;
    }

    .skillIcons {
        height: 31.5px;
    }
    .awesome {
        font-size: 2rem !important;

    }

    .lineBreak {
        display: none;
    }

    .projectCard {
        opacity: 0;
        width: 100%;
        min-height: 280px;
    }

    .project1, .project2, .project3, .project4 {
        background-size: 100%;
    }


    .projectCard:hover{
        opacity: .95;
    }

       
}